{# -*- mode: jinja2 -*- #}

{% from "Field/index.html"  import trigger %}
{% from "Button/index.html" import button  %}

{# YSD DatePicker. #}

{% macro DatePicker(opts) %}
  <div class="select select-ysd datepicker">
    <div class="field-container">
      {{ trigger({ default: "请选择日期", classNames: ["field-ysd"] }) }}
      <div class="field-icon field-icon-right">
        <span class="ion-ios-calendar-outline"></span>
      </div>
    </div>

    <div class="select-options-container datepicker-options-container row">
      <div class="select-options datepicker-options grid">
        <div class="datepicker">
          <header class="datepicker-header">请选择日期</header>
          <div class="datepicker-control-container">
            <span class="datepicker-yymm">2016年7月</span>
            
            <div class="datepicker-control datepicker-control-left datepicker-control-left-1">
              <span class="ion-md-rewind"></span>
            </div>
            <div class="datepicker-control datepicker-control-left datepicker-control-left-2">
              <span class="ion-md-arrow-dropleft"></span>
            </div>
            <div class="datepicker-control datepicker-control-right datepicker-control-right-1">
              <span class="ion-md-fastforward"></span>
            </div>
            <div class="datepicker-control datepicker-control-right datepicker-control-right-2">
              <span class="ion-md-arrow-dropright"></span>
            </div>
            
          </div>
          <div class="datepicker-body">
            <div class="datepicker-week row">
              <div class="datepicker-grid grid width--7-f">
                <div class="datepicker-cell">一</div>
              </div>
              <div class="datepicker-grid grid width--7-f">
                <div class="datepicker-cell">二</div>
              </div>
              <div class="datepicker-grid grid width--7-f">
                <div class="datepicker-cell">三</div>
              </div>
              <div class="datepicker-grid grid width--7-f">
                <div class="datepicker-cell">四</div>
              </div>
              <div class="datepicker-grid grid width--7-f">
                <div class="datepicker-cell">五</div>
              </div>
              <div class="datepicker-grid grid width--7-f">
                <div class="datepicker-cell">六</div>
              </div>
              <div class="datepicker-grid grid width--7-f">
                <div class="datepicker-cell">日</div>
              </div>
            </div>
            <div class="datepicker-dates row">
              {% for i in range(27, 31) %}
                <div class="datepicker-grid grid width--7-f">
                  <div class="datepicker-cell nomm">{{ i }}</div>
                </div>
              {% endfor %}
              {% for i in range(1, 32) %}
                <div class="datepicker-grid grid width--7-f">
                  <div class="datepicker-cell">{{ i }}</div>
                </div>
              {% endfor %}
              {% for i in range(1, 8) %}
                <div class="datepicker-grid grid width--7-f">
                  <div class="datepicker-cell nomm">{{ i }}</div>
                </div>
              {% endfor %}
            </div>
          </div>
          <footer class="datepicker-footer">
            <span class="datepicker-action-today">今天</span>

            <div class="datepicker-action-check">
              {{ button({ contents: "确定", classNames: ["button-small button-ysd button-ysd-primary"] }) }}
            </div>
          </footer>
        </div>
      </div>
    </div>

  </div>
{% endmacro %}
