{# -*- mode: jinja2 -*- #}

{% from "Button/index.html"   import button  %}
{% from "_addresspicker.html" import AddressPicker %}
{% from "_datepicker.html"    import DatePicker %}
{% from "_pagination.html"    import Pagination %}
{% from "_switch.html"        import checkbox, radio %}


{% block content %}
  <section class="con">
    <header class="demo-header tac">
      <div class="display--1">YSD UI DEMO</div>
      <div class="">YSD PROJECT UI README</div>
    </header>

    <section class="marb--xxl">
      <h4 class="tac">@Components Field</h4>
      <section class="marb">
        <h6>AddressPicker</h6>
        <div class="row">
          <div class="grid width--4">
            {{ AddressPicker({ default: "请选择地区" }) }}
          </div>
        </div>
      </section>
      <section class="marb">
        <h6>DatePicker</h6>
        <div class="row">
          <div class="grid width--4">
            {{ DatePicker({ default: "请选择日期" }) }}
          </div>
        </div>
      </section>
    </section>

    <section class="marb--xxl">
      <h4 class="tac">@Components Button</h4>
      <section class="marb">
        <h6>Buttons</h6>
        <div class="">
          <div class="demo-button">
            {{ button({ contents: "按钮", classNames: ["button-ysd"] }) }}
          </div>
          <div class="demo-button">
            {{ button({ contents: "按钮", classNames: ["button-ysd button-ysd-seconday"] }) }}
          </div>
          <div class="demo-button">
            {{ button({ contents: "确定", classNames: ["button-ysd button-ysd-primary"] }) }}
          </div>
          <div class="demo-button">
            {{ button({ contents: "成功", classNames: ["button-ysd button-ysd-success"] }) }}
          </div>
          <div class="demo-button">
            {{ button({ contents: "错误", classNames: ["button-ysd button-ysd-error"] }) }}
          </div>
          <div class="demo-button">
            {{ button({ contents: "警告", classNames: ["button-ysd button-ysd-warning"] }) }}
          </div>
        </div>
      </section>
      
      <section class="marb">
        <h6>Pagination</h6>
        <div>
          {{ Pagination() }}
        </div>
      </section>
    </section>

    <section class="marb--xxl">
      <h4 class="tac">@Components Switch</h4>
      <section class="marb">
        <h6>Checkbox</h6>
        <div class="">
          {{ checkbox() }}
        </div>
      </section>
      <section class="marb">
        <h6>Radio</h6>
        <div class="">
          {{ radio() }}
        </div>
      </section>
    </section>

  </section>
{% endblock %}


{% block styles %}
  <link rel="stylesheet" href="index.css">
{% endblock %}

{% block scripts %}
  <script src="/vendor.dll.js"></script>
  <script src="/tool.dll.js"></script>
  <script src="/commons.js"></script>
  <script src="index.js"></script>
{% endblock %}


{% extends "tpls/page.html" %}
