@require "styles/reset"
@require "styles/layout"
@require "styles/typo"

$ysd-ff = "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif
$ysd-pc = #00a0e8
$ysd-cc-primary = #00a0e8
$ysd-cc-success = #70d445
$ysd-cc-error   = #ff6100
$ysd-cc-warning = #fac450


/// Reset.

a
  reset-theme()
  text-decoration none
  dis ib

ul
  reset-list()


reset-box()

body
  reset-font()
  reset-theme()
  reset-space()
  fz 16px
  lh 1.5
  ff $ysd-ff


.demo-header
  my 5rem
.demo-button
  dis ib
  mx 0.5rem


/// Export typo

typo-display()



/// Export layout utils

layout-grid-base()
layout-width-base()
layout-width-hundred()
layout-width-fraction()
layout-mar-bottom()  
layout-con-base(800px)
layout-text-center()


/// Exports Common Components.
  
@require "Button/"
@require "Field/"
button-basic-export()
field-basic-export()


/// Exports styled Components.

@require "_button"
@require "_field"
button-ysd-export()
button-ysd-primary-export()
button-ysd-success-export()
button-ysd-error-export()
button-ysd-warning-export()
button-ysd-seconday-export()
field-ysd-export()


.field-container
  pos rela

.field-icon
  size 2rem $field-ysd-h
  lh $field-ysd-h
  ta cen
  cc $field-bdc

  &-right
    fill(r)
  &-left
    fill(l)

.button-small
  pad 0
  h 1.375rem
  miw 2.75rem
.button-ysd  


.select
  pos rela

.select-options-container
  fill(tl)
  z 2
  t $field-ysd-h + 0.25rem
  shadow 0 0 6px rgba($field-bdc, 60%)
  bd1($field-bdc)
  bdrz 4px
  fz 14px
  bgc #fff
  ov h

  dis no
  &.active
    dis bl

.select-options
  bd1(#eee, bdr)
  ov a
  
  &:last-child
    bdr 0
  

.select-option
  h $field-ysd-h + 0.25rem
  lh $field-ysd-h + 0.25rem
  px 1rem
  cur ptr
  
  &.active
    bgc #d9f3fe
  &.checked
    bgc #f2f2f2


.addresspicker-options
  h ($field-ysd-h + 0.25rem) * 5

.datepicker-options
  miw 16.25rem

.datepicker-header
  pad 0.45rem 0.8rem
  cc $field-bdc
  bd1(#eee, bdb)

.addresspicker-options-container
  miw 30rem
  
.datepicker-options-container
  top 0

.datepicker-control-container
  pos rela
  ta cen
  pad 0.45rem 0.8rem
  bd1(#eee, bdb)

.datepicker-control
  size 2rem $field-ysd-h
  lh $field-ysd-h
  ta cen
  fz 1rem
  cc $field-bdc
  
  &-left
    fill(l)
    l 0.5rem
  &-right
    fill(r)
    r 0.5rem

  &-left-2
    l 2rem + 0.5rem
  &-right-2
    r 2rem + 0.5rem


.datepicker-body
  pad 0.5rem

.datepicker-grid
  ta cen
  py 0.25rem

.datepicker-cell
  dis ib
  size 1.5rem
  lh 1.5rem
  ta cen
  cur ptr

  &.nomm
    cc $field-bdc
  &.curr
    bg #eaf8fe
  &.active
    bg $ysd-pc

.datepicker-footer
  pos rela
  ta cen
  h 2.625rem
  pad 0.6rem 0.8rem
  bd1($field-bdc, bdt)

.datepicker-action-today
  cc $ysd-pc
  cur ptr

.datepicker-action-check
  fill(r)
  pad 0.625rem
  



/// Switch.
.switch
  pos rela
  va top
  dis ib
  lh 1
.switch-form
  dis no
.switch-placeholder
  dis ib
  size 1.25rem
  bd1(#d3d3d3)
  cur ptr
  trans all 0.2s ease-in-out 0s

  &:hover
    bdc #898989

  &-checkbox
    bdrz 4px
    pad ((1.25rem - 1rem) / 2)
  &-radio
    bdrz 50%
    pad 5.5px

.switch-checked
  op 0
  size 1rem
  lh 1
  cc #fff
  va top

.switch-checked-radio
  dis ib
  bg #fff
  size 0.4rem
  bdrz 50%

.switch.active
  .switch-placeholder
    bg $ysd-pc
    bdc $ysd-pc
  .switch-checked
    op 1


/// Pagination.

.pagination-btn
  dis ib
  .button
    h 1.625rem
    pad ((1.625rem - 1.3125rem) / 2) 0
  .button-square
    miw 1.625rem
  .button-noborder
    bd 0

.pagination-count
  .button
    miw 4.125rem
    

@require "ionicons"
